.row {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  padding: 0 4px;
}

.row {
  flex: 100%;
  padding: 200px;
  align-content: center;
}

.column img {
  margin: 100px 0px;
  vertical-align: middle;
}

header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  padding: 50px;
}

.img-zoom-container {
  align-content: center;
}