* Add screen styles below *

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --main-bg-color: #2c2c2c;
  --primary-text-color: #ffffff;
  --secondary-text-color: #dbdbdb;
}

body {
  background: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: 'Inter', sans-serif;
  margin: 20px 0;
  align-content: center;
  padding: 0;
}

h1.headline {
  font-weight: bolder;
  font-size: 65px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h2.tagline {
  font-weight: bold;
  font-size: 35px;
}

h3 {
  font-weight: 800;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

p.huskyid-1 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

p.huskyid-2 {
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  padding: 50px;
  display: flex;
  align-content: center;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
  align-content: center;
  align-items: center;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 50px;
  height: 50px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 500px;
  height: 500px;
}