.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  padding: 50px;
}